#loginPage {
    min-height: 100vh;
    display: flex;
    background-color: white;
}

#loginPage > .designPart {
    flex: 1;
    background-color: var(--button-color);
    display: flex;
    min-height: 100%;
}

#loginPage > .infoPart {
    flex: 3;
    display: flex;
    align-items: center;
}

.infoPart > div > div {
    margin: 1rem 0;
}

.infoPart a {
    color: #1496DF;
    /* text-decoration: underline dotted; */
}

#forgotForm {
    display: block;
}

#forgotForm div {
	display: flex;
	flex-direction: column;
	width: 50%;
}

#forgotForm label,
#forgotForm input,
#forgotForm select {
    width: 100%
}

#forgotForm input,
#forgotForm select {
    margin-bottom: 1rem;
}
