#hero {
    height: 85vh;
    width: 100%;
}

#hero > div {
    display: flex;
    height: 100%;
}

.heroImage {
    flex: 1;
    height: auto;
    align-self: center;
}

.heroText {
    flex: 1;
    height: 100%;
}

.heroText {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* ----------- */

#about {
    min-height: min-content;
    width: 100%;
    margin: 5rem 0;
}

#about > div > div:first-child {
    text-align: center;
    margin-bottom: 5rem;
}

#about > div > div:last-child {
    display: flex;
    width: 100%;
    gap: 5%;
}

#about > div > div:last-child > .aboutPictureSide,
#about > div > div:last-child > .aboutTextSide {
    flex: 1;
    height: 100%;
}

#about > div > div:last-child > .aboutTextSide {
    margin: auto;
}

#about > div > div:last-child > .aboutTextSide li {
    margin: 1rem 0;
}

/* ----------- */

#goals {
    min-height: min-content;
    width: 100%;
    margin-bottom: 10rem;
}

#goals > div > div {
    text-align: center;
}
