#hero {
    height: 85vh;
    width: 100%;
}

#hero > div {
    display: flex;
    height: 100%;
}

.heroText, .heroImage {
    flex: 1;
    height: 100%;
    border: 1px solid red;
}

.heroText {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* ----------- */

#about {
    min-height: 100vh;
    width: 100%;
}

#about > div > div:first-child {
    text-align: center;
    margin: 5rem 0;
}

#about > div > div:last-child {
    display: flex;
    width: 100%;
    gap: 1rem;
    margin: 5rem 0;
}

#about > div > div:last-child > .aboutPictureSide,
#about > div > div:last-child > .aboutTextSide {
    flex: 1;
    border: 1px solid red;
    height: 100%;
}

#about > div > div:last-child > .aboutTextSide {
    margin: auto;
}

#about > div > div:last-child > .aboutTextSide li {
    margin: 1rem 0;
}

/* ----------- */

#goals {
    min-height: 100vh;
    width: 100%;
}

#goals > div > div:first-child {
    text-align: center;
    margin: 5rem 0;
}

#goals > div > div:last-child {
    display: flex;
    width: 100%;
    gap: 1rem;
    margin: 5rem 0;
}