.body {
    height: 100vh;
    display: flex;
    margin: 0;
    font-family: var(--main-font);
    background: white;
  }
  
  .side {
    flex: 0 0 18%;
    background: #606060;

  }
  
  .main {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 50px;
    padding-top: 20px;
    padding-left: 110px;
    padding-right: 220px;
    font-family: var(--main-font);
  }
  
  .header {
    margin-bottom: 30px;
  }
  
  .headerText {
    margin: 10px 0;
    font-size: 80px;
  }
  
  .header .subText {
    margin: 0 5px;
    font-size: 16px;
    color: #727272;
  }
  
  .form {
    padding-left: 50px;
  }
  
  .fields {
    display: flex;
    flex-direction: column;
  }
  
  .formRow {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  
  .formColumn {
    margin-right: 150px;
  }
  
  .formColumn:last-child {
    margin-right: 0;
  }
  
  .formColumn label {
    display: block;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 600;
    width: 300px;
  }
  
  .formColumn input, .formColumn select {
    width: 300px;
    height: 30px;
  }
  
  .end {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    
  }
  
  .agreement {
    display: flex;
    align-items: center;
  }
  
  .agreement label {
    margin-left: 5px;
    font-size: 14px;
  }
  
  .submitButton {
    width: 150px;
    height: 50px;
    font-size: 20px;
    font-weight: 600;
    color: white;
    border: none;
    background-color: #3B82F6;
    cursor: pointer;
  }
  
  .submitButton:hover {
    background-color: #2672ed;
  }
  