#addItemPage {
    min-height: 80vh;
}

.addForm {
    border: 1px dashed var(--blue);
    border-radius: 1rem;
    padding: 1rem;
    width: 50%;
    margin: 2rem auto;
}

.addForm form {
    display: flex;
    flex-direction: column;
}

.addForm form input {
    padding: 1rem;
}

.addForm form div {
	text-align: center;
}